.header, .subhead {
  text-align: center;
}

.submit {
  text-align: center;
}

.subhead {
  padding: 20px;
}

p {
  font-size: 24px;
  text-align: left;
  margin-top: 24px;
  line-height: 28px;
}

h1 {
  font-size: 24px;
  line-height: 28px;

}

.jumbo {
  font-size: 100px;
}

.containter {
  line-height: 28px;
}

#article-word {
  background: #fff;
  color: @gray-dark;
  font-size: 24px;
  line-height: 28px;

}

#article-word button {
    border: 0;
}

::-webkit-input-placeholder { 
    font-size: 24px;
    line-height: 28px;  
}

:-moz-placeholder
{ 
    font-size: 24px;
    line-height: 28px;  
}

::-moz-placeholder { 
    font-size: 24px;
    line-height: 28px;  
}

:-ms-input-placeholder { 
    font-size: 24px;
    line-height: 28px;  
}