.header {
  text-align: center;
  margin-top: 60px;
}
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
p {
  font-size: 26px;
  text-align: left;
  margin-top: 24px;
}
.jumbo {
  font-size: 100px;
}
