{{!< layout}}

<header>
  <div class='jumbotron header'> 
    <div class='jumbo'>METAPHORGY</div>
  </div>
  <div class='jumbotron subhead'>
    <h3>a website to help you build metaphors</h3>
    <h5>Pick your article, enter your word, get back a metaphor.</h5>
  </div>
</header>

<section class='container'>
  <form action='/metaphor' id='metaform'>
    <div id='question' class='row {{#if metaphor}}hidden{{/if}}'>
      
        <div class='col-sm-2 col-sm-offset-1 pull'> 
          <p class='entry text-right'>My</p>
        </div>
        <div class="col-sm-6">
          <input type='text' id='word-entry' class='form-control' placeholder='Enter a word' name='word'>
      </div>
      <div class='col-sm-2'><p class='entry text-left'>is a</p></div>
    </div>

    <div id='answer' class='col-sm-12 {{#unless metaphor}}hidden{{/unless}}'>
      <p class='result'>My <span class='word' id='word'>{{ word }}</span> is a <span class='word' id='metaphor'>{{metaphor}}</span>.
      </div>

      <div class='row submit'>
        <div class='col-sm-12'>
          <p class='perspective'>
            <button type='submit' class='btn btn-entry {{#if metaphor}}btn-success3d{{/if}}'>Complete Sentence</button>
          </p>
        </div>
      </div>
    </div>
  </form>
</section>
